.coinCard{
    width: 80%;
    height: 100px;
    background: linear-gradient(#333, #222);
    backdrop-filter: blur(5px);
    color: black;
    padding: 10px;
    border: 2px solid grey;
    border-radius: 20px;
    margin: 20px 20px;
    color: white;
    display: flex;
    justify-content: space-between;
    
}

@media only screen and (max-width: 960px) {
    .coinCard {
        width: 90%;
    }
  }

.coinName{
    font-weight: bold;
    margin-top: 15px;
    font-size: small;
}
.leftSide{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: flex-start;
}
.rightSide{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.selected {
    outline: 2px solid greenyellow;
    background: linear-gradient(#333933, #222922);
    color: white;
}
