.coinCard{
    width: 80%;
    height: 100px;
    background-color: rgba(255, 255, 255, 0.1);
    backdrop-filter: blur(5px);
    color: black;
    padding: 10px;
    border: 2px solid grey;
    border-radius: 20px;
    margin: 20px 20px;
    color: white;
    display: flex;
    justify-content: space-between;
}



.coinName{
    font-weight: bold;
    margin-top: 15px;
    font-size: small;
}
.leftSide{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: flex-start;
}
.rightSide{
    display: flex;
    justify-content: center;
    align-items: center;
}

.selected {
    outline: 2px solid greenyellow;
    background-color: rgba(255, 255, 255, 0.1);
    color: white;
}
